.main-wrapper{
  padding-top: 70px;
  display: flex;
}

.main-container{
  padding-top: 70px;
  width: 100%;
}

.explain-container{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.explain-container h1 {
  color: #444444;
  font-family: "游ゴシック", "YuGothic";
  font-weight: 600;
  background: #ffc354;
  box-shadow: 0px 0px 0px 5px #ffc354;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}

.explain-container p{
  font-size: 17px;
  padding: 10px;
}

.cooks-btn{
  text-align: center;
  margin-top: 50px;
}

.cooks-btn p{
  font-size: 25px;
}

.right-container{
  width: 20%;
}

.cooks-info{
  font-weight: bold;
  border-top: 1px #523e3ee8 solid;
  border-left: 1px #523e3ee8 solid;
}

.cook-title{
  text-align: center;
  padding: 5px;
  font-family: "游ゴシック", "YuGothic";
  font-size: 17px;
  color: #070501;
  background-color: #e7d5bd;
}

.cook-detail{
  height: 30px;
  background-color: rgb(233, 198, 132);
  border: 1px black solid;
  width: 100%;
  display: flex;
  border-left: none;
}

.cooks-info + .c{
  border-left: none;
}

.cook-name {
  float: left;
  font-size: 12px;
  padding: 5px;
  width: 50%;
}

.cook-genre{
  line-height: 30px;
  margin-left: 10px;
  top: 25%;
  left: 50%;
  font-size: 11px;
}

.please-regist{
  width: 100%;
  margin-top: 100px;
}

.please-regist h2{
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  font-family: "游ゴシック", "YuGothic";
  font-weight: bold;
  color: orange;
}

.please-regist p{
  text-align: center;
  color: gray;
  margin-bottom: 10px;
}

.please-regist .box-newusr{
  margin: 0 auto;
  width: 50%;
}

