.cook-box {
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.genre-select{
  height: 50px;
  width: 200px;
  background-color: lightgray;
}
.btn{
  width: 200px;
  padding: 20px;
  border: 1px solid black;
  background-color: orange;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  text-align: center;
  color: white;
  font-size: 15px;
}

.btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}