.decide-info {
  text-align: center;
  padding: 25px 0;
}

.decide-info h1{
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}

.cook-box {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.genre-select{
  height: 50px;
  width: 200px;
  margin-bottom: 40px;
  background-color: lightgray;
}
