<div class = "cook-main">
  <% if @cooks.present? %>
    <h1 class = "cook-title">登録されている料理一覧</h1> 

    <% @cooks.each do |cook| %>
      <div class = "decide-cook">
        <div class = "cook-view">
          <p class = "cook-name">料理名 : 
            <%= cook.name %>
          </p>
           <p>料理のジャンル : 
            <%= cook.genre.genre %>
          </p>
        </div>  

        <div class = "cook-recipe">
          <p class = "cook-recipe">料理のレシピ : 
            <%= cook.recipe %>
          </p>
      </div>  
    <% end %>  
  <% else %> 
    <h1 class = "cook-title">登録されている料理はありません</h1> 
  <% end %>  
  
  <%= link_to 'トップページに戻る', root_path, method: :get, class: "btn" %>
</div>  
