<div class = "cook-main">
  <h1 class = "cook-title">登録されている料理一覧</h1> 

  <% @cooks.each do |cook| %>
    <div class = "cook-table">
      <p class = "list">
        <th class = "detail-cooks">料理名:</th>
        <%= cook.name %>
      </p>  
      <p class = "list">
        <th class = "detail-cooks">料理のレシピ:</th>
        <%= cook.recipe %>
      </p> 
      <p class = "list">
        <th class = "detail-cooks">料理のジャンル:</th>
        <%= cook.genre.genre %>
      </p> 
    </div>  
  <% end %>  
  
  <%= link_to 'トップページに戻る', root_path, method: :get, class: "btn" %>
</div>  
