.new-cook-wrapper{
  padding-top: 70px;
}

.main-cook{
  width:100%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}
.field{
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.form__name{
  padding: 5px;
  width: 20%;
}

.form__recipe{
  width: 50%;
  margin: 10px 0;
  padding: 5px;
}

.genre-select{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin: 10px 0;
}

.actions{
  margin: 0 auto;
  text-align: center;
}

.top_btn{
  text-align: center;
  margin-top: 20px;
}