.main-cook{
  width:600px;
  margin: 0 auto;
}
.field{
  padding: 10px 0 5px 25px;
  font-size: 20px;
  font-weight: bold;
}

.actions{
  margin: 0 auto;
  margin-top:30px;
  padding-left: 16px;
}

.form__text {
  width: 80%;
}

.genre-select{
  font-size: 15px;
  font-weight: bold;
}

.top_btn{
  display: flex;
  margin-left: 16px;
  margin-top: 20px;
}