.cooks-info h1{
  text-align: center;
  font-size: 40px;
  margin: 30px 300px;
  font-style: italic;
  padding-bottom: 30px;
  border-bottom: black 1px solid;
}

.decide-cook{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: black 4px bold;
  padding-bottom: 30px;
  border-bottom: black 1px solid;
}

.cook-table + .cook-table {
  border-top:none;
}

.cook-name{
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}
.cook-recipe{
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: bold;
}

.cook-genre{
  font-size: 40px;
  font-weight: bold;

}
