.propose-cook h1{
  text-align: center;
  font-size: 40px;
  margin: 90px 300px 30px 300px;
  font-style: italic;
  padding-bottom: 30px;
  border-bottom: black 1px solid;
  font-family: "游ゴシック", "YuGothic";
}

.decided-cook{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 1px solid gray;
  border-radius: 30px;
}

.decided-cook-view{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.decided-cook-name{
  padding:0 50px 0 50px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(245, 166, 20);
  font-family: "游ゴシック", "YuGothic";
}

.decided-cook-genre{
  font-size: 23px;
  font-weight: bold;
  color: black;
  font-family: "游ゴシック", "YuGothic";
}

.decided-cook-recipe{
  height: 200px;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "游ゴシック", "YuGothic";
}

.decided-cook-recipe p{
  font-weight: bold;
  font-size: 20px;
  font-family: "游ゴシック", "YuGothic";
}

.btn-wrapper{
  margin-bottom: 100px;
}

