.cooks-info h1{
  text-align: center;
  font-size: 40px;
  margin: 30px 300px;
  font-style: italic;
  padding-bottom: 30px;
  border-bottom: black 1px solid;
}

.decide-cook{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 1px solid gray;
}

.cook-view{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.cook-name{
  font-size: 40px;
  font-weight: bold;
  padding-right: 50px;
  color: rgb(255, 185, 55);
}

.cook-genre{
  font-size: 30px;
  font-weight: bold;
}

.cook-recipe{
  height: 200px;
  padding: 20px;
  margin-bottom: 30px;
}

.cook-recipe p{
  font-weight: bold;
  font-size: 20px;
}
