* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

.header{
  background-color:orange;
  height: 140px;
  padding: 10px;
}

.header h1{
  padding-left: 20px;
  font-size:50px;
  font-family: 'Amatic SC', cursive;
}

.header h2{
  font-size:25px;
  font-family: "Sawarabi Mincho"; 
  text-align: right;
  margin-right: 40px;
  font-weight: bold;
}



