* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  color: #3b4043;
  background-color: #fff4dd;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

.btn {
  position: relative;
  display: block;
  padding: 20px;
  margin: 10px auto 50px auto;
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: orange;
  border: 2px solid orange;
  border-radius: 10px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  transition: 0.4s ease;
}

.btn:hover{
  box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.2), 0 1px 8px 0 rgba(7, 7, 7, 0.12);
  cursor: pointer;
  background-color:  #ffba39;
}


header.header {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #ffc354;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
}

header.header div.header__bar.row div.grid-6 a.post {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

header.header div.header__bar.row div.grid-6 a.post:hover {
  color: rgba(235, 235, 235, 0.856);
}

header.header div.header__bar.row {
  position: relative;
}

header.header div.header__bar.row h1.grid-6 {
  font-size: 20px;
  line-height: 41px;
  float: left;
}

header.header div.header__bar.row h1.grid-6 a {
  display: block;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}

header.header .user_nav {
  position: relative;
  height: 100px;
  right: 0;
}

.header h1{
  padding-left: 20px;
  font-size:50px;
  font-family: "游ゴシック", "YuGothic";
}

.sub-title{
  display: inline-block;
  margin: 10px 0 0 30px;
  font-size: 15px;
}

footer {
  position: fixed;
  text-align: center;
  border-top: 1px solid #D8D8D8;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 8px;
  font-size: 15px;
}

.genre-select{
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  padding: 5px;
  margin:10px 0 40px 0;
  background-color: rgb(228, 228, 228);
}

.box {
  border-radius: 4px;
  border: 1px #ddd solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 60px auto 0 auto;
  margin-top: 80px;
}

.box-inner {
  text-align: center;
  padding: 20px 35px;
  width: 70%;
}

.userpage-container{
  margin-top: 100px;
  text-align: center;
}

.userpage-container p{
  font-size: 30px;
}

