* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  color: #3b4043;
  background-color: #f7f7f7;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  background:  #ffba39;
  border-radius: 10px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 1px  #faa200;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.btn:hover{
  cursor: pointer;
}


header.header {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  background-color: rgb(255, 216, 143, 0.55 );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
}

header.header div.header__bar.row div.grid-6 a.post {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid orange;
  color:orange;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

.btn:hover,
header.header div.header__bar.row div.grid-6 a.post:hover {
  border-color: #ffba39;
  color: #ffba39;
}


header.header div.header__bar.row {
  position: relative;
}

header.header div.header__bar.row h1.grid-6 {
  font-size: 20px;
  line-height: 41px;
  float: left;
}

header.header div.header__bar.row h1.grid-6 a {
  display: block;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}

header.header .user_nav {
  position: relative;
  height: 100px;
  right: 0;
}

.header h1{
  padding-left: 20px;
  font-size:50px;
  font-family: "游ゴシック", "YuGothic";
}

.sub-title{
  display: inline-block;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 15px;
}



.btn {
  width: 200px;
  padding: 20px;
  border: 2px solid orange;
  background-color: orange;
  transition: 0.4s ease;
  text-align: center;
  color: white;
  font-size: 15px;
}

.btn:hover {
  box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.2), 0 1px 8px 0 rgba(7, 7, 7, 0.12);
  cursor: pointer;
}

footer {
  position: fixed;
  text-align: center;
  border-top: 1px solid #D8D8D8;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 8px;
}


