<div class = "explain">
  <p class = "explain-title">夕飯強制の使い方</p>
  <p>1 : 料理を追加します</p>
  <p>2 : 今日の料理を選択します</p>
  <p>3 : 今日の料理が選択されたジャンルの中からランダムに表示されます</p>
</div>

<div class = "genre-box">
  <div class = "today-cook">
    <p>今日の料理に困っているときはここ</p>
    <%= link_to '今日の料理を見てみる', new_decide_path, method: :get, class: "btn" %>
  </div>

  <p>料理の幅を広くしたいときはここ</p>
  <%= link_to '料理を追加する', new_cook_path, method: :get, class: "btn" %>
  <p>登録されている料理の確認はここ</p>
  <%= link_to '料理を確認する', cooks_path, method: :get, class: "btn" %>
</div>  