<div class = "genre-box">
  <%= link_to '今日の料理を見てみる', new_decide_path, method: :get, class: "btn" %>
  <div class = "cook-decision">
    <%= link_to '料理を追加する', new_cook_path, method: :get, class: "btn" %>
  </div>
  <%= link_to '登録されている料理を見る', cooks_path, method: :get, class: "btn" %>
</div>  
